.appliquer-button {
  background-color: #79cf90;

  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 600;

  border: none;
  border-radius: 19px;
  padding: 10px;
  color: #f5f4f4;
  cursor: pointer;
  margin-bottom: 15px;
}

.input-and-apply-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}
.input-and-apply-container input {
  margin-right: 10px;
}
