.information-inputs label {
  font-size: 8px;
}

.step-3 label {
  font-size: 12px !important;
}

.input-email {
  background-color: #ffffff;
  border-radius: 19px;
  padding: 10px;
  border: none;
  outline: none;
  width: 100%;
  margin-bottom: 15px;
}

.information-inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;

  grid-row-gap: initial;
  grid-column-gap: 15px;
}

.label-infos {
  font-size: 10px;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
