.container {
  display: grid;
  grid-template-columns: 35px 55px 55px 230px 70px 100px 80px;
  gap: 10px; /* Optional: Add gap between columns */
  max-width: 750px;
  max-height: 200px;

  border-radius: 16px;
  border: 1px solid black;
}
.big-container {
  max-width: 750px;
  margin: auto;
  background-color: #f8f8f8;
  padding: 30px;
  border-radius: 40px;
}
.actions-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.title {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;

  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 900;
}

.column {
  max-height: 30px;
  background-color: none;
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.icon-chercher {
  height: 20px;
  width: 20px;
  color: #7d7b7b;
}
.icon-add {
  height: 20px;
  width: 20px;
  color: #4a4848;
  padding: 13px 20px;
}

.chercher-button {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: 500;
  background-color: white;
  border: none;
  border-radius: 19px;
  padding: 8px 20px;
  color: grey;
  cursor: pointer;
  margin-top: 10px;
}

.ReactModal__Content {
  position: relative;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  border: 1px solid #000000;
  background: #fff;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  width: 350px;
  height: 400px;
}

.close-button {
  height: 20px;
  width: 20px;
  color: #4a4848;
  padding: 13px 20px;
}
.close-div {
  float: right;
}

.title-update {
  display: block;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: bolder;
}
.button-container {
  margin: auto;
}

.supprimer-button {
  background-color: #ff5530;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  font-weight: bold;

  border: none;
  border-radius: 19px;
  padding: 8px 10px;
  color: rgb(30, 30, 30);
  cursor: pointer;
}
.modifier-button {
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  font-weight: bold;

  border: none;
  border-radius: 19px;
  padding: 8px 10px;
  color: rgb(33, 33, 33);
  cursor: pointer;
}
